<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Orange HRM Application Test"  > <!--parallel = "tests" methods/tests/instances-->
  <listeners>
  <listener class-name="AllureReport.AllureListener"></listener>
  <!--  another way to apply the retry FailedTests ability for all the test suite-->
  <listener class-name="automateRetryFailedTests.AnnotationTransformerTheSecondWay"></listener>
  </listeners>    
 <!--  Browser" value="chrome-headless;Browser" value="headless"#####################################[End To End Test with chrome browser]##########################-->
 <test thread-count="5" name="End To End Test with Chrome browser">
   <parameter name="Browser" value="chrome"></parameter>
  
     <classes>
        <class name="com.OrangeHRM.testcases.LoginPageTest"> 
    <!-- <methods>
      <include name="CheckLoginwithInvalidPasswordOrmail"></include>
      </methods>-->
       </class>
       <class name="com.OrangeHRM.testcases.ResetPasswordTest"></class> 
   <!--   <class name="com.OrangeHRM.testcases.ReportConfig"> </class>-->
     </classes>
     
  </test> 
  
</suite> <!-- Orange HRM Application Test -->

  